# Git and Docker ignore files
.git
.gitignore
Dockerfile
.dockerignore

# Byte-compiled / optimized / DLL files 
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 

# Virtual Environments 
.venv 
venv 
env 
ENV 

# IDE / Editor specific files 
.vscode/ 
.idea/ 
*.sublime-project 
*.sublime-workspace 

# Log files 
*.log 

# Environment variables 
.env 
.env.* 

# OS-specific files 
.DS_Store 
Thumbs.db 