# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv
venv
env
ENV

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Project-specific generated folders
debug_images/

# OS-specific files
.DS_Store
Thumbs.db